.contact{
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
}
.contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .contact-list-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .contact-list-item:hover {
    background-color: #eee;
    transform: translateX(5px);
  }

  .contact-list-icon {
    margin-right: 10px;
    color: #0077b5;
  }
  .contact-list-text {
    font-size: 18px;
    font-weight: 500;
  }

  .contact-list-subtext {
    font-size: 14px;
    color: #666;
  }

 